# Environment Configuration
NODE_ENV="development" # Options: 'development', 'production'
PORT="8081"            # The port your server will listen on
HOST="localhost"       # Hostname for the server

# CORS Settings
CORS_ORIGIN="*" # Allowed CORS origin, adjust as necessary

# Rate Limiting
COMMON_RATE_LIMIT_WINDOW_MS="1000"  # Window size for rate limiting (ms)
COMMON_RATE_LIMIT_MAX_REQUESTS="20" # Max number of requests per window per IP

# Database Configuration
DB_HOST=database
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=generosity

#JWT AUTH
JWT_SECRET="YOUR_SECRET_KEY"
JWT_EXPIRES_IN_HOURS=24
JWT_REFRESH_EXPIRES_IN_DAYS=7 #